{% extends 'workersApp/workerBase.html.twig' %}

{% block content %}
    <div class="h1 pb-3 px-3 row justify-content-between">
        <div class="">{{ movie.tytul }} ({{ movie.datapremiery|date("Y") }})</div>
        <div class="pull-right">
            {% if (is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') ) %}
            {% if movie.zwiastun %}
                <a href="{{ movie.zwiastun }}" class="btn btn-primary" target="_blank">Przejdź do zwiastunu</a>
            {% endif %}
                <a href="{{ path('workers_app/movies/edit', {'id': movie.id}) }}" class="btn btn-primary">Edytuj</a>
            {% if permission %}
                <button type="button" class="btn btn-danger ml-0" data-toggle="modal"
                        data-target="#movieId">
                    Usuń
                </button>
                <!-- Modal -->
                <div class="modal fade" id="movieId" tabindex="-1" role="dialog"
                     aria-labelledby="modelTitleId" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content bg-dark text-light text-left h6">
                            <div class="modal-header">
                                <h4 class="modal-title" id="modelTitleId">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Usuwanie filmu
                                </h4>
                                <button type="button" class="close text-light" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Czy napewno chcesz usunąć ten film?
                                <ul>
                                    <li>
                                        Tytuł: {{ movie.tytul }}
                                    </li>
                                    <li>
                                        Data premiery: {{ movie.datapremiery|date("d.m.Y") }}
                                    </li>
                                </ul>
                                Akcji tej nie da sie odwrócić.
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Anuluj
                                </button>
                                <button id="delete_movie" type="button" class="btn btn-danger delete-movie"
                                        data-id="{{ movie.id }}">
                                    <i id="spinner"></i> Usuń
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Modal -->
                <script>
                    const movie = document.getElementById('delete_movie');
                    if (movie) {
                        movie.addEventListener('click', e => {
                            if (e.target.className === 'btn btn-danger delete-movie') {
                                const id = e.target.getAttribute('data-id');
                                e.target.setAttribute('disabled', 'true');
                                document.getElementById('spinner').setAttribute('class', 'fa fa-spinner fa-spin');

                                fetch(`{{ path('workers_app/movies/delete') }}/${id}`,
                                    {method: 'DELETE'}
                                ).then(res => window.location.replace("{{ path('workers_app/movies') }}"));
                            }
                        })
                    }
                </script>
            {% endif %}
            {% endif %}
        </div>
    </div>
    <div class="row h5">
        <div class="col-md-3">
            <img src="{% if movie.plakat %}{{ asset('img/'~movie.plakat) }}{% else %}{{ asset('img/no_poster.jpg') }}{% endif %}"
                 class="img-fluid">
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-sm-6 row mb-1 mt-3 mt-sm-0">
                    <div class="col-6">Data premiery:</div>
                    <div class="col-6">{{ movie.datapremiery|date("d.m.Y") }}</div>
                </div>
                <div class="col-sm-6 row mb-1 mt-3 mt-sm-0">
                    <div class="col-6">Kategoria wiekowa:</div>
                    <div class="col-6">{{ movie.kategoriewiekowe }}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 row mb-1 mt-3">
                    <div class="col-6">Długość filmu:</div>
                    <div class="col-6">{{ movie.czastrwania }}</div>
                </div>
                <div class="col-sm-6 row mb-1 mt-3">
                    <div class="col-6">Długość reklam:</div>
                    <div class="col-6">{{ movie.czasreklam }}</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-3 mb-1">Dostępne formaty:</div>
                <div class="col-sm-9 mb-1 pl-sm-0">
                    {% for format in movie.typyseansow %}
                        {{ format.nazwa }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-3 mb-1">Gatunki:</div>
                <div class="col-sm-9 mb-1 pl-sm-0">
                    {% for type in movie.rodzajefilmow %}
                        {{ type.nazwa }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="mt-3">
                <div class="mb-1">Opis:</div>
                <p class="h6 mb-1">
                    {{ movie.opis }}
                </p>
            </div>
            <form class="form-inline mt-5 mb-3" name="form" method="post">
                <label for="form_date" class="mb-1 mr-4">Wybierz datę:</label>
                <input id="form_date" name="form_date" type="date" class="form-control mr-1 mb-1" name=""
                       value="{{ dateInput|date('Y-m-d') }}"
                       required style="width: 11rem">
                <button type="submit" class="btn btn-primary mb-1">Przejdź</button>
            </form>
            {% if pageCount > 0 %}
                <div style="overflow-x: auto">
                    <table class="table h6">
                        <thead>
                        <tr>
                            <th style="width: 20%">Godzina</th>
                            <th style="width: 30%">Format</th>
                            <th style="width: 50%"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for seance in seancesPage %}
                            <tr>
                                <td class="my-1">{{ seance.poczatekseansu|date('H:i') }}</td>
                                <td class="my-1">{{ seance.typyseansow }}</td>
                                <td>
                                    <div class="pull-right">
                                        <a href="{{ path('workers_app/reservations/add', {'id': seance.id}) }}" class="btn btn-sm btn-primary" style="vertical-align: center">Rezerwacja</a>
                                        <a href="{{ path('workers_app/transactions/add', {'id': seance.id}) }}" class="btn btn-sm btn-primary" style="vertical-align: center">Sprzedaż</a>
                                        {% if (is_granted('ROLE_MANAGER') or is_granted('ROLE_ADMIN') ) %}
                                            <a href="{{ path('workers_app/seances/show', {'id': seance.id}) }}" class="btn btn-sm btn-primary"
                                               style="vertical-align: center">Przejdź</a>
                                        {% endif %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="h6">
                    {% include 'workersApp/inc/paginationWithParams.html.twig' %}
                </div>
            {% else %}
                <h1 class="text-center">Brak seansów</h1>
                <div class="text-center display-1">
                    <i class="fa fa-calendar"></i>
                </div>
            {% endif %}
        </div>
        <a href="{{ path('workers_app/movies') }}" class="btn btn-secondary mt-3 ml-3">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            Wróć
        </a>
    </div>
{% endblock %}