{% extends 'clientsApp/clientBase.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error_messages.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/form_invalid_func.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-9 pb-4 mt-0">
            <div class="h1 pb-3">Zmiana hasła</div>
            {#{{ form_start(form) }}#}
            <div class="mx-3">
                <div class="mx-3">
                    <form method="post" class="mx-3">
                        {% if error %}
                            <div class="alert alert-danger alert-dismissible fade show">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ error }}
                            </div>
                        {% endif %}
                        <div class="form-group row">
                            <label for="newPassword" class="col-sm-2 col-form-label">Stare hasło: </label>
                            <div class="col-sm-10">
                                <input type="password" value="" name="oldPassword" id="oldPassword"  pattern="\S{8,64}" title="Dowolne znaki bez znaków białych, od 8 do 64 znaków."
                                       class="form-control" placeholder="Wprowadź stare hasło..." required autofocus>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="newPassword" class="col-sm-2 col-form-label">Nowe hasło: </label>
                            <div class="col-sm-10">
                                <input type="password" name="newPassword" id="newPassword" class="form-control" pattern="\S{8,64}" title="Dowolne znaki bez znaków białych, od 8 do 64 znaków."
                                       placeholder="Wprowadź hasło..." required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="confirmPassword" class="col-sm-2 col-form-label">Powtórz nowe hasło: </label>
                            <div class="col-sm-10">
                                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" pattern="\S{8,64}" title="Dowolne znaki bez znaków białych, od 8 do 64 znaków."
                                       placeholder="Wprowadź hasło..." required>
                            </div>
                        </div>
                        <input type="submit" class="btn btn-primary float-right" name="submit" value="Zmień hasło" />
                    </form>
                    <a class="btn btn-secondary" href="{{ path('clients_app/main_page') }}">Anuluj</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
