{% if pageCountRes > 1 %}
    <nav aria-label="Pagination" class="pt-2">
        {% set previousPage = currentPageRes - 1 %}
        {% set nextPage = currentPageRes + 1 %}
        <div class="d-block d-sm-none">
            {% if currentPageRes > 1 %}
                <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: previousPage}) }}"
                   class="btn btn-primary btn-sm">
                    <i class="fa fa-angle-left" aria-hidden="true"></i> Wstecz
                </a>
            {% endif %}
            {% if currentPageRes < pageCountRes %}
                <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: nextPage}) }}"
                   class="btn btn-primary btn-sm pull-right">
                    Dalej <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            {% endif %}
        </div>
        <div class="d-none d-sm-block">
            <ul class="pagination float-right">
                {% if currentPageRes == 1 %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Wstecz">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Wstecz</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: previousPage}) }}"
                           aria-label="Wstecz">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                            <span class="sr-only">Wstecz</span>
                        </a>
                    </li>
                {% endif %}

                {% if pageCountRes < 7 %}
                    {% for i in range(1, pageCountRes) %}
                        <li class="page-item{% if i == currentPageRes %} active{% endif %}">
                            <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: i}) }}"
                               class="page-link">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% elseif previousPage < 3 %}
                    {% for i in range(1, 4) %}
                        <li class="page-item{% if i == currentPageRes %} active{% endif %}">
                            <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: i}) }}"
                               class="page-link">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item disabled">
                        <a href="#" class="page-link">&hellip;</a>
                    </li>
                    <li class="page-item">
                        <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: pageCountRes}) }}"
                           class="page-link">{{ pageCountRes }}</a>
                    </li>
                {% elseif nextPage > pageCountRes-2 %}
                    <li class="page-item">
                        <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: 1}) }}"
                           class="page-link">1</a>
                    </li>
                    <li class="page-item disabled">
                        <a href="#" class="page-link">&hellip;</a>
                    </li>
                    {% for i in range(pageCountRes-3, pageCountRes) %}
                        <li class="page-item{% if i == currentPageRes %} active{% endif %}">
                            <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: i}) }}"
                               class="page-link">{{ i }}</a>
                        </li>
                    {% endfor %}
                {% else %}
                    <li class="page-item">
                        <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: 1}) }}"
                           class="page-link">1</a>
                    </li>
                    <li class="page-item disabled">
                        <a href="#" class="page-link">&hellip;</a>
                    </li>

                    <li class="page-item">
                        <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: previousPage}) }}" class="page-link">{{ previousPage }}</a>
                    </li>
                    <li class="page-item active">
                        <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: currentPageRes}) }}" class="page-link">{{ currentPageRes }}</a>
                    </li>
                    <li class="page-item">
                        <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: nextPage}) }}" class="page-link">{{ nextPage }}</a>
                    </li>

                    <li class="page-item disabled">
                        <a href="#" class="page-link">&hellip;</a>
                    </li>
                    <li class="page-item">
                        <a href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: pageCountRes}) }}" class="page-link">{{ pageCountRes }}</a>
                    </li>
                {% endif %}
                {% if currentPageRes == pageCountRes %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" aria-label="Dalej">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Dalej</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{{ path('workers_app/clients/show', {id: client.id, pageTra: currentPageTra, pageRes: nextPage}) }}"
                           aria-label="Dalej">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            <span class="sr-only">Dalej</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endif %}