{% extends 'clientsApp/clientBase.html.twig' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-10 pb-4 mt-0">
            <div class="row justify-content-between px-3">
                <div class="h1 pb-3">Sprzedaż - podsumowanie</div>
                <div>
                    <button type="button" class="btn btn-danger pull-right"
                            id="deletePromotionButton" hidden
                            onclick="deletePromotion()">
                        Usuń promocje
                    </button>
                    <button class="btn btn-primary" type="button" data-toggle="modal"
                            id="promotionModalButton"
                            data-target="#promotions">
                        Wybierz promocje
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="promotions" tabindex="-1" role="dialog"
                         aria-labelledby="modelTitleId" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content bg-client text-black text-left">
                                <div class="modal-header">
                                    <h4 class="modal-title" id="modelTitleId">
                                        Wybierz promocje
                                    </h4>
                                    <button type="button" class="close text-light" data-dismiss="modal"
                                            id="closePromotionModalButton"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% if promotions|length != 0 %}
                                        <div style="overflow-x: auto;" class="mt-0">
                                            <table id="promotions" class="table">
                                                <thead>
                                                <tr>
                                                    <th style="width: 20%">Nazwa<br> promocji</th>
                                                    <th style="width: 20%">Wysokość<br> promocji</th>
                                                    <th style="width: 30%">Specjalne<br> warunki</th>
                                                    <th style="width: 20%">Czas trwania<br> promocji</th>
                                                    <th style="width: 10%"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for promotion in promotions %}
                                                    <tr>
                                                        <td scope="row">{{ promotion.nazwa }}</td>
                                                        <td>{{ promotion.wartosc }} {% if promotion.czykwotowa %}zł{% else %}%{% endif %}</td>
                                                        <td>
                                                            {% if promotion.czykobieta is not null %}
                                                                {% if promotion.czykobieta %}
                                                                    Tylko dla pań
                                                                {% else %}
                                                                    Tylko dla panów
                                                                {% endif %}
                                                                {% if promotion.staz is not null %}
                                                                    posiadających konto od {{ promotion.staz|date("d.m.Y") }} lub dłużej
                                                                {% endif %}
                                                            {% elseif promotion.staz is not null %}
                                                                Tylko dla użytkowników z kontem od {{ promotion.staz|date("d.m.Y") }} lub dłużej
                                                            {% else %}
                                                                Brak
                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {{ promotion.poczatekPromocji|date("d.m.Y") }}
                                                            - {{ promotion.koniecPromocji|date("d.m.Y") }}
                                                        </td>
                                                        <td>
                                                            <div class="pull-right">
                                                                <button type="button"
                                                                        onclick="addPromotion({% if promotion.czykwotowa %}{{ promotion.czykwotowa }}{% else %}0{% endif %}, {{ promotion.wartosc }}, {{ promotion.id }}, '{{ promotion.nazwa }}')"
                                                                        class="btn btn-primary btn-sm">
                                                                    Wybierz
                                                                </button>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    {% else %}
                                        <div style="overflow-x: auto;" class="mt-0">
                                            Brak akrywnych promocji.
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">
                                        Anuluj
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End of Modal -->
                </div>
            </div>
            <div class="mx-3">
                <div class="mx-3">
                    <div class="row mb-3">
                        <div class="col-sm-3">
                            {% if seance.wydarzeniaspecjalne %}
                                Wydarzenie specjalne:
                            {% else %}
                                Film:
                            {% endif %}
                        </div>
                        <div class="col-sm-9 pl-sm-2">
                            {% if seance.wydarzeniaspecjalne %}
                                {{ seance.wydarzeniaspecjalne }} -
                                {% for smf in seance.seansMaFilmy %}
                                    {{ smf.filmy }}{% if not loop.last %}, {% endif %}
                                {% endfor %}
                            {% else %}
                                {% for smf in seance.seansMaFilmy|slice(0,1) %}
                                    {{ smf.filmy }}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">Data i godzina:</div>
                        <div class="col-sm-9 pl-sm-2">{{ seance.poczatekseansu|date('d.m.Y H:i') }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">Sala:</div>
                        <div class="col-sm-9 pl-sm-2">{{ seance.sale.numersali }}</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">Do zaplaty:</div>
                        <div class="col-sm-9 pl-sm-2" id="price"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">Promocja:</div>
                        <div class="col-sm-9 pl-sm-2" id="promotionName">Nie wybrano</div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">Email:</div>
                        <div class="col-sm-3 pl-sm-2">
                            <input type="email" id="inputEmail"
                                   class="form-control" onblur="validEmail()"
                                   {% if email %}value="{{ email }}"{% endif %} placeholder="Wprowdź email..."
                                   autocomplete="off">
                        </div>
                        <div class="col-sm-3 text-danger font-weight-bold" id="emailAlert"></div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-sm-3">Bilety:</div>
                        <div class="col-sm-9 pl-sm-2"></div>
                    </div>
                    <div class="my-5" id="ticketTable">
                        <table id="tickets" class="table">
                            <thead>
                            <tr>
                                <th>Rząd</th>
                                <th>Miejsce</th>
                                <th>Rodzaj biletu</th>
                                <th>Cena (w zł)</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% set price = 0.00 %}
                            {% for selectedSeat in selectedSeats %}
                                {% set price = price + selectedTickets[loop.index0].cena %}
                                <tr>
                                    <td>{{ selectedSeat.rzedy.numerrzedu }}</td>
                                    <td>{{ selectedSeat.numermiejsca }}</td>
                                    <td>{{ selectedTickets[loop.index0].rodzajebiletow.nazwa }}</td>
                                    <td>
                                        <div id="price{{ loop.index0 }}">{{ selectedTickets[loop.index0].cena }}</div>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger btn-sm pull-right"
                                                id="deleteVoucherButton{{ selectedSeat.id }}" hidden
                                                onclick="deleteVoucher({{ selectedSeat.id }}, {{ loop.index0 }})">
                                            Usuń voucher
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm pull-right"
                                                id="voucherModalButton{{ selectedSeat.id }}"
                                                data-toggle="modal"
                                                data-target="#voucherModal{{ selectedSeat.id }}">
                                            Wprowadź voucher
                                        </button>
                                    </td>
                                    <!-- Modal -->
                                    <div class="modal fade" id="voucherModal{{ selectedSeat.id }}" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="modelTitleId" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                            <div class="modal-content bg-client text-black text-left">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="modelTitleId">
                                                        Wprowdzanie vouchera
                                                    </h4>
                                                    <button id="closeModalButton{{ selectedSeat.id }}" type="button"
                                                            class="close text-light" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Wprowadź kod vouchera
                                                    <div id="voucherAlert{{ selectedSeat.id }}"
                                                         style="color: red"></div>
                                                    <input type="text" value="" name="voucherCode{{ selectedSeat.id }}"
                                                           id="voucherCode{{ selectedSeat.id }}"
                                                           class="form-control"
                                                           onkeyup="onKeyUpVoucherInput({{ selectedSeat.id }})"
                                                           onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">
                                                        Anuluj
                                                    </button>
                                                    <button type="button" class="btn btn-primary delete-promotion"
                                                            onclick="checkVoucher({{ selectedSeat.id }}, {{ loop.index0 }})"
                                                            data-id="{{ selectedSeat.id }}">
                                                        Wybierz
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End of Modal -->
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <form id="summaryForm" name="form" method="post">
                <input class="form-control" type="number" id="submitNumber" name="submitNumber" hidden value="">
                <input type="text" id="seatsIds" name="seatsIds" hidden value="">
                <input type="text" id="vouchersIds" name="vouchersIds" hidden value="">
                <input type="text" id="ticketsIds" name="ticketsIds" hidden value="">
                <input type="text" id="promotionId" name="promotionId" hidden value="">
                <input type="text" id="email" name="email" hidden value="">
                <button type="button" id="form_back" name="form[back]" class="btn btn-primary float-left"
                        onclick="setBack()">Zmień miejsca lub bilety
                </button>
                <button type="button" id="form_save" name="form[save]" class="btn btn-primary float-right"
                        onclick="setConfirm()">Zapłać
                </button>
            </form>
        </div>
    </div>

    <script>

        var price;
        var promotion = null;

        var priceArray = [];
        var voucherArray = [];
        var seatsIdArray = [];
        var ticketsIdArray = [];
        var vouchersIdArray = [];

        window.onload = function () {
            price = {{ price }};
            document.getElementById('price').innerText = price.toFixed(2) + " zł";

            {% for selectedSeat in selectedSeats %}
            {% if selectedSeat != null %}

            seatsIdArray.push({{ selectedSeat.id }});
            ticketsIdArray.push({{ selectedTickets[loop.index0].id }});
            vouchersIdArray.push([]);

            priceArray.push({
                price: {{ selectedTickets[loop.index0].cena }},
                promotionPrice: {{ selectedTickets[loop.index0].cena }},
                voucherPrice: {{ selectedTickets[loop.index0].cena }}});
            voucherArray.push({});

            {% endif %}{{ selectedSeat.id }}
            {% endfor %}
        };

        function onKeyUpVoucherInput(seatId) {
            document.getElementById('voucherAlert' + seatId).innerHTML = '';
        }

        function addPromotion(ifAmount, value, promotionId, name) {
            promotion = promotionId;
            document.getElementById('promotionModalButton').hidden = true;
            document.getElementById('deletePromotionButton').hidden = false;
            document.getElementById('closePromotionModalButton').click();
            document.getElementById('promotionName').innerHTML = name;

            if (ifAmount) {
                for (var i = 0; i < priceArray.length; i++) {
                    if (value < priceArray[i].price) {
                        priceArray[i].promotionPrice = priceArray[i].price - value;
                    } else {
                        priceArray[i].promotionPrice = 0;
                    }
                    updateVoucherPrice(i, voucherArray[i].ifAmount, voucherArray[i].value);
                }
            } else {
                for (var i = 0; i < priceArray.length; i++) {
                    priceArray[i].promotionPrice = priceArray[i].price - (priceArray[i].price * (value / 100));
                    updateVoucherPrice(i, voucherArray[i].ifAmount, voucherArray[i].value);
                }
            }
            updatePrice()
        }

        function deletePromotion() {
            promotion = null;
            document.getElementById('promotionModalButton').hidden = false;
            document.getElementById('deletePromotionButton').hidden = true;
            document.getElementById('promotionName').innerHTML = 'Nie wybrano';
            for (var i = 0; i < priceArray.length; i++) {
                priceArray[i].promotionPrice = priceArray[i].price;
                updateVoucherPrice(i, voucherArray[i].ifAmount, voucherArray[i].value);
            }
            updatePrice();
        }

        function updatePrice() {
            price = 0;
            for (var i = 0; i < priceArray.length; i++) {
                price += priceArray[i].voucherPrice;
            }
            document.getElementById('price').innerText = price.toFixed(2) + " zł";
        }

        function deleteVoucher(seatId, index) {
            priceArray[index].voucherPrice = priceArray[index].promotionPrice;
            document.getElementById('price' + index).innerHTML = priceArray[index].voucherPrice.toFixed(2);
            voucherArray[index] = [];
            document.getElementById('voucherModalButton' + seatId).hidden = false;
            document.getElementById('deleteVoucherButton' + seatId).hidden = true;
            updatePrice();
            vouchersIdArray[index] = [];
        }

        function updateVoucherPrice(index, ifAmount, value) {
            if ((typeof ifAmount !== 'undefined') && (typeof value !== 'undefined')) {
                var newTicketPrice = 0;
                if (ifAmount) {
                    if (parseFloat(value) < priceArray[index].promotionPrice) {
                        newTicketPrice = priceArray[index].promotionPrice - parseFloat(value);
                        price -= parseFloat(value);
                    } else {
                        newTicketPrice = 0;
                        price -= priceArray[index].promotionPrice;
                    }
                } else {
                    var priceReduction = priceArray[index].promotionPrice * ((parseFloat(value)) / 100);
                    newTicketPrice = priceArray[index].promotionPrice - priceReduction;
                    price -= priceReduction;
                }
                priceArray[index].voucherPrice = newTicketPrice;
                document.getElementById('price' + index).innerHTML = priceArray[index].voucherPrice.toFixed(2);
            } else {
                priceArray[index].voucherPrice = priceArray[index].promotionPrice;
                document.getElementById('price' + index).innerHTML = priceArray[index].voucherPrice.toFixed(2);
            }
        }

        function checkVoucher(seatId, index) {
            $.ajax({
                url: '{{ path('clients_app/transactions/check_voucher') }}/{{ seance.id }}',
                type: "POST",
                dataType: "json",
                data: {
                    "voucherCode": document.getElementById('voucherCode' + seatId).value
                },
                async: true,
                success: function (data) {
                    if ('error' in data) {
                        document.getElementById('voucherAlert' + seatId).innerHTML = data['error'];
                    } else {
                        if (vouchersIdArray.includes(data.id)) {
                            document.getElementById('voucherAlert' + seatId).innerHTML =
                                "Voucher został już użyty na innym bilecie w tej transakcji.";
                        } else {
                            document.getElementById('closeModalButton' + seatId).click();
                            document.getElementById('voucherModalButton' + seatId).hidden = true;
                            document.getElementById('deleteVoucherButton' + seatId).hidden = false;
                            voucherArray[index].ifAmount = data.czykwotowa;
                            voucherArray[index].value = data.wartosc;
                            vouchersIdArray[index] = data.id;
                            updateVoucherPrice(index, data.czykwotowa, data.wartosc);
                            updatePrice();
                        }
                    }
                }
            });
        }

        function validEmail() {
            var emailInput = document.getElementById('inputEmail');
            var email = emailInput.value;
            var emailAlert = document.getElementById('emailAlert');
            email = email.trim();
            const reg = /^[a-z\d]+[\w\d.-]*@(?:[a-z\d]+[a-z\d-]+\.){1,5}[a-z]{2,6}$/i;
            emailAlert.hidden = false;
            if (reg.test(String(email))) {
                if (emailAlert.classList.contains('text-danger')) {
                    emailAlert.classList.replace('text-danger', 'text-success');
                }
                emailAlert.innerText = 'Email poprawny';
                document.getElementById('form_save').disabled = false;
                emailInput.style.border = '1px solid green';
                return true;
            } else {
                if (emailAlert.classList.contains('text-success')) {
                    emailAlert.classList.replace('text-success', 'text-danger');
                }
                emailInput.style.border = 'green';
                emailAlert.innerText = 'Nie poprawny email';
                document.getElementById('form_save').disabled = true;
                emailInput.style.border = '1px solid red';
                return false;
            }
        }

        function setBack() {
            document.getElementById('form_save').disabled = true;
            document.getElementById('form_back').disabled = true;
            var seatIdInput = document.getElementById('seatsIds');
            document.getElementById('submitNumber').value = 2;
            seatIdInput.value = '';
            for (var i = 0; i < seatsIdArray.length; i++) {
                if (i != 0) {
                    seatIdInput.value += ',';
                }
                seatIdInput.value += seatsIdArray[i];
            }
            document.getElementById('summaryForm').submit();
        }

        function setConfirm() {
            if (validEmail()) {
                document.getElementById('form_save').disabled = true;
                document.getElementById('form_back').disabled = true;
                var seatsIdInput = document.getElementById('seatsIds');
                var vouchersIdInput = document.getElementById('vouchersIds');
                var ticketsIdInput = document.getElementById('ticketsIds');

                document.getElementById('email').value = document.getElementById('inputEmail').value;
                document.getElementById('submitNumber').value = 1;
                document.getElementById('promotionId').value = promotion;
                seatsIdInput.value = '';
                for (var i = 0; i < seatsIdArray.length; i++) {
                    if (i != 0) {
                        seatsIdInput.value += ',';
                        vouchersIdInput.value += ',';
                        ticketsIdInput.value += ',';
                    }
                    seatsIdInput.value += seatsIdArray[i];
                    ticketsIdInput.value += ticketsIdArray[i];
                    if (vouchersIdArray[i]) {
                        vouchersIdInput.value += vouchersIdArray[i];
                    } else {
                        vouchersIdInput.value += 'null';
                    }
                }
                document.getElementById('summaryForm').submit();
            }
        }
    </script>
{% endblock %}