{% extends 'workersApp/workerBase.html.twig' %}
{% block content %}

    {% if pula  %}
        <div class="h1 col-md">Pule biletów</div>
        <div class="container">
            <div class="justify-content-center h5">
                <div class="row mb-3">
                    <div class="col-sm-6">Nazwa puli:</div>
                    <div class="col-sm-6 pl-sm-2">{{ pula.nazwa }}</div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-6">Status:</div>
                    <div class="col-sm-6 pl-sm-2">
                        {% if pula.status %}
                            Aktywna
                        {% else %}
                            Nieaktywna
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-sm-12">Ceny biletów w puli:</div>
                </div>
                <div style="overflow-x: auto ">
                    <table class="table h6">
                        <thead>
                        <tr>
                            <th>Rodzaj biletu</th>
                            <th>Cena</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for pule in query %}
                            <tr>
                                <td>{{ pule.rodzajebiletow.nazwa }}</td>
                                <td>{{ pule.cena }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <a class="btn btn-secondary"
           href="{{ path('workers_app/tickets/dictionaryName', {'dictionaryName':'pools'}) }}">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            Wróć
        </a>
        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-danger float-right" data-toggle="modal"
                    data-target="#poolId">Usuń
            </button>
            <a class="btn btn-primary float-right" style="margin-right: 4px"
               href="{{ path("workers_app/tickets/pools/edit", {'id':pula.id}) }}" role="button">Edytuj</a>

            <!-- Modal -->
            <div class="modal fade" id="poolId" tabindex="-1" role="dialog"
                 aria-labelledby="modelTitleId" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content bg-dark text-light text-left">
                        <div class="modal-header">
                            <h4 class="modal-title" id="modelTitleId">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Usuwanie puli biletów
                            </h4>
                            <button type="button" class="close text-light" data-dismiss="modal"
                                    aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Czy napewno chcesz usunąć tą pule biletów?
                            <ul>
                                <li>
                                   Nazwa puli: {{ pula.nazwa }}
                                </li>
                                <li>
                                    Id: {{ pula.id }}
                                </li>
                            </ul>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Anuluj
                            </button>
                            <button type="button" id="delete-pool" class="btn btn-danger delete-instance"
                                    data-id="{{ pula.id }}">
                                <i id="spinner{{ pula.id }}"></i> Usuń
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Modal -->

            <script>
                const employee = document.getElementById('delete-pool');
                employee.addEventListener('click', e => {
                    const id = e.target.getAttribute('data-id');
                    e.target.setAttribute('disabled', 'true');
                    document.getElementById('spinner' + id).setAttribute('class', 'fa fa-spinner fa-spin');
                    fetch(`{{ path('workers_app/tickets/delete', {'dictionaryName':'pools'}) }}/${id}`,
                        {method: 'DELETE'}
                    ).then(res => window.location.href = "{{ path('workers_app/tickets/dictionaryName',{'dictionaryName':"pools"}) }}");
                })
            </script>
        {% endif %}
   {% else %}
       <h1 class="text-center">Brak wartości</h1>
       <div class="text-center display-1">
           <i class="fa fa-th-list" aria-hidden="true"></i>

       </div>
    {% endif %}
{% endblock %}